.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.details {
  overflow: hidden;
  overflow-y: scroll;
  height: 60vh;
}

.comments {
  overflow: hidden;
  overflow-y: scroll;
  height: 60vh;
}

.details_img {
  object-fit: contain;
  width: 20px;
  height: 20px;
  clear: both;
}

.btn{
  height: 5vh;
  position: absolute;
}

.backdrop {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 9998;
  background: rgba(0, 0, 0, 0.3);
  }

  #map {
    height: 500px;
    width: 100%;
  }

  #map-filters {
    position: absolute;
    top: 20px;
    z-index: 1000;
    margin-left: 50px;
  }

  #map-filters span {
    position: absolute;
    left: 30px;
    height: 32px;
    background-color: #3B3B3B;
    color: white;
    font-size: 14;
    padding: 6px 10px;
    z-index: 3000;
  }

  #map-filters select {
    position: absolute;
    left: 100px;
    width: 150px;
    height: 32px;
    background-color: white;
    border-radius: 0;
  }

  option {
    padding: 10px;

  }


  #rating-form {
    text-align: left;

  }
  label {
    font-weight: normal;
  }

  #rating-form input {
    margin-right: 10px;

  }
  .leaflet-popup-content {
    margin: 0;
    padding: 10px;
    width: 150px;
  }

 .leaflet-popup-content h5 {
    font-size: 14px;
    text-transform: uppercase;
    width: 100%;
    margin: 0;
    text-align: center;
    padding: 5px;
  }

  .leaflet-popup-content p {
    color: black;
    margin: 2px;
  }

  .dropin h5 {
    color: blue;
  }

  .homebase h5 {
    color: red;
  }


.mainLeft {
  background-color: Tomato;
}

.mainRight {
  background-color: gold;
}

.m-top-three {
  margin-top: 3.5em;
}

.footer {
  margin-top: 1em;
  padding: 2em;
}

.circle {
  height: 30vh;
  width: 30vw;
  border-radius: 5px 20px 5px;
  border: 2px solid black;
  object-fit: cover;
  display: block;
}

.about{
  height:100vh;
  width:100vw;
}

.aboutInfo {
  background-color: black;
  color: white;
  height: 30vh;
  text-align: center;
}

.blue{
  color: rgba(0, 191, 255, 1)
}



.linky{
  background-color: blue;
  height: 6vh;
}

.contactPage {
  height: 143vh;
  width: 100vw;
  margin: 0;
  padding: 10vh;
  background-color: rgba(173, 216, 230, 1);
  color: white;
}

.highlight::selection {
  background-color: purple;
  color: white;
}

textarea {
  resize: none;
}

.navBar:hover {
  background-color: RGB(30, 144, 255);
  color: white;
  text-decoration: none;
  -webkit-transition: background-color 1s ease-out;
}

.jobs {
  height: 100vh;
  width: 100vw;
  padding: 10vh;
  background-color: RGB(30, 144, 255);

#rating-form input[type='submit'] {
  margin: 10px;
  float: center;
}

#loading {
  position: absolute;
  z-index: 2000;
  left: 50%;
  top: 200px;
}

#loading h1 {
  font-size: 36px;
}
#loading h5 {
  font-size: 18px;

}
