@import url('https://fonts.googleapis.com/css?family=Lato:300,400');

body {
  font-family: 'Lato', sans-serif;
  letter-spacing: .1em;
}

.details {
  overflow: hidden;
  height: 60vh;
}

.comments {
  overflow: hidden;
  overflow-y: scroll;
  height: 60vh;
}

.details_img {
  object-fit: contain;
  width: 100vw;
  height: 20vh;
  clear: both;
}

.btn{
  height: 5vh;
  position: absolute;
}

.backdrop {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 9998;
  background: rgba(0, 0, 0, 0.3);
  }

  #map {
    height: 500px;
    width: 100%;
  }

  #map-filters {
    position: absolute;
    top: 20px;
    z-index: 1000;
    margin-left: 50px;
  }

  #map-filters span {
    position: absolute;
    left: 30px;
    height: 32px;
    background-color: #3B3B3B;
    color: white;
    font-size: 14;
    padding: 6px 10px;
    z-index: 3000;
  }

  #map-filters select {
    position: absolute;
    left: 100px;
    width: 150px;
    height: 32px;
    background-color: white;
    border-radius: 0;
  }

  option {
    padding: 10px;
  }

  #rating-form {
    text-align: left;
  }

  #rating-form input {
    margin-right: 10px;

  }
  .leaflet-popup-content {
    margin: 0;
    padding: 10px;
    width: 150px;
  }

 .leaflet-popup-content h5 {
    font-size: 14px;
    text-transform: uppercase;
    width: 100%;
    margin: 0;
    text-align: center;
    padding: 5px;
  }

  .leaflet-popup-content p {
    color: black;
    margin: 2px;
  }

  .dropin h5 {
    color: blue;
  }

  .homebase h5 {
    color: red;
  }


.mainLeft {
  background-color: Tomato;
}

.mainRight {
  background-color: gold;
}

.m-top-three {
  margin-top: 3.5em;
}

.circle {
  height: 30vh;
  width: 30vw;
  border-radius: 5px 20px 5px;
  border: 2px solid black;
  object-fit: cover;
  display: block;
}

.about{
  height:100vh;
  width:100vw;
}

.aboutInfo {
  background-color: black;
  color: white;
  height: 30vh;
  text-align: center;
}

.blue{
  color: rgba(0, 191, 255, 1)
}

#rating-form input[type='submit'] {
  margin: 10px;
  float: center;
}

#loading {
  position: absolute;
  z-index: 2000;
  left: 50%;
  top: 200px;
}

#loading h1 {
  font-size: 36px;
}
#loading h5 {
  font-size: 18px;
}

.s-text {
  font-style: italic;
  font-size: .6em;
  margin: 0 0 0 .5em;
  color: #dcd7d7;
}

.blockquotes {
  margin: 0 auto;
}

.blockquote {
  position: relative;
  font-family: Georgia, serif;
  font-style: italic;
  font-size: 1.5em;
  border-left-width: 0;
  width: 380px;
}

.blockquote:before {
  position: absolute;
  content: "\201C";
  display: block;
  left: -.1em;
  font-size: 3em;
}

.quotes {
  background-color: rgb(255, 255, 250);
  height: 250px;
}

.slider {
  background: none;
  background-image: none;
}

.carousel-control.right,
.carousel-control.left {
  background-image: none;
  display: none;
  border: none;
}

.carousel-top {
  margin: 0 auto;
  margin-top: 4em;
}

.about-content {
  width: 70%;
  margin: 0 auto;
}

.logo {
  width: 2em;
  height: 2em;
  margin: -8px .5em 0 0;
}

.logo-nyc {
  font-weight: lighter;
  font-size: 1em;
}

.title {
  font-weight: bolder;
  text-align: center;
}

.title-base {
  text-align: center;
  font-weight: lighter;
  font-size: 1.5em;
  margin: 0;
  margin-top: -.5em;
}

.center {
  margin: 0 auto;
  margin-top: 1em;
  display: flex;
}

.footer {
  background-color: rgb(255, 255, 250);
  text-align: center;
  font-weight: lighter;
  font-size: .8em;
}

.props {
  margin: 6em 0;
  padding: 3em 0;
}

.copyright {
  background-color: black;
  padding: 1.5em 0;
  color: rgb(255, 255, 255);
}
